<div class="row">
  <div class="col-xs-12">
    <h3><%== kick_off_for_print(@match) %></h3>
  </div>
</div>
<div class="matchRow">
  <a href="/match/<%== @match[:match_id] %><%== ring_for_url(@ring) %>">
    <div class="row visible-xs">
      <div class="col-xs-4 text-center">
        <span class="team-flag flag-<%== @match[:home_short_name] %>"></span>
      </div>
      <div class="col-xs-4 col-xs-offset-4 text-center">
        <span class="team-flag flag-<%== @match[:away_short_name] %>"></span>
      </div>
    </div><!-- /row visible-xs -->
    <div class="row">
      <div class="col-sm-2 hidden-xs text-center">
        <span class="team-flag flag-<%== @match[:home_short_name] %>"></span>
      </div>
      <div class="col-xs-4 visible-xs text-center matchText"><%== home_name(@match) %></div>
      <div class="col-sm-2 hidden-xs text-right lead matchText"><%== home_name(@match) %></div>
      <div class="col-xs-1 text-center lead matchText">
        <b><%== home_score(@match) %></b>
      </div>
      <div class="col-xs-2 text-center matchText">vs.</div>
      <div class="col-xs-1 text-center lead matchText">
        <b><%== away_score(@match) %></b>
      </div>
      <div class="col-sm-2 hidden-xs text-left lead matchText"><%== away_name(@match) %></div>
      <div class="col-xs-4 visible-xs text-center matchText"><%== away_name(@match) %></div>
      <div class="col-sm-2 hidden-xs text-center">
        <span class="team-flag flag-<%== @match[:away_short_name] %>"></span>
      </div>
    </div><!-- /row -->
  </a>
</div><!-- /matchRow -->
<% if predicted?(@match) %>
<div class="alert alert-success">
  <div class="row">
    <div class="col-xs-3 visible-xs text-left"><i>Predicted:</i></div>
    <div class="col-xs-6 visible-xs text-center">
      <b><%== predicted_result(@match) %></b>
    </div>
    <div class="col-sm-2 hidden-xs text-left"><i>Predicted:</i></div>
    <div class="col-sm-8 hidden-xs text-center">
      <b><%== predicted_result(@match) %></b>
    </div>
  </div><!-- /row -->
  <div class="row">
    <div class="col-xs-1 col-xs-offset-4 text-center"><%== home_prediction(@match) %></div>
    <div class="col-xs-2 text-center">-</div>
    <div class="col-xs-1 text-center"><%== away_prediction(@match) %></div>
  </div><!-- /row -->
</div><!-- /alert -->
<% else %>
<div class="alert alert-danger">
  <div class="row">
    <div class="col-xs-12 text-left">
      <i>Not yet predicted</i>
    </div>
  </div><!-- /row -->
</div><!-- /alert -->
<% end %>