<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%== erb :'email/common/css' %>
</head>
<body>
  <%== erb :'email/common/separator' %>
  <%== erb :'email/prediction/heading', locals: { match: locals[:match] } %>
  <%== erb :'email/common/separator' %>
  <%== erb :'email/prediction/prediction_table', locals: { predictions: locals[:predictions] } %>
  <%== erb :'email/common/separator' %>
  <%== erb :'email/common/footer' %>
</body>
</html>
