<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%== erb :'email/common/css' %>
</head>
<body>
  <%== erb :'email/common/separator' %>
  <%== erb :'email/result/heading', locals: { match: locals[:match] } %>
  <%== erb :'email/common/visible_separator' %>
  <%== erb :'email/result/match_result', locals: { predictions: locals[:predictions] } %>
  <%== erb :'email/common/visible_separator' %>
  <%== erb :'email/result/table', locals: { table: locals[:table] } %>
  <%== erb :'email/common/separator' %>
  <%== erb :'email/common/footer' %>
</body>
</html>
