<h3>
  <%== @match[:stage] %><br />
  <%== date_for_print(@match) %><br />
  <%== kick_off_for_print(@match) %><br />
  <small>
    <%== @match[:venue] %><br />
    <%== @match[:broadcaster] %>
  </small>
</h3>
  <%== erb :'match/details_big' %>
  <%== erb :'match/details_small' %>
</h3>