          <div class="panel-group" id="accordionGroup">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="checkbox">
                  <label>
                    <input
                      type="checkbox"
                      id="ckbGroupStage"
                      name="st_gr"
                      <%== 'checked' if session[:criteria][:stages][:group] %>>
                    Group Stage
                  </label>
                </div>
                <a data-toggle="collapse" data-parent="#accordionGroup" href="#collapseGroup">
                  Hide / unhide
                </a>
              </div><!-- /.panel-heading -->
              <div id="collapseGroup" class="panel-collapse collapse">
                <div class="panel-body">
                  <button class="btn btn-sm btn-primary"
                          type="submit"
                          id="btnSelectGroup"
                          data-mode="unselect">
                    Unselect all
                  </button>
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        id="ckbGroupA"
                        name="gr_A"
                        <%== 'checked' if session[:criteria][:groups][:A] %>>
                      <strong>Group A</strong><br>
                      Germany, Scotland, Hungary, Switzerland
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        id="ckbGroupB"
                        name="gr_B"
                        <%== 'checked' if session[:criteria][:groups][:B] %>>
                      <strong>Group B</strong><br>
                      Spain, Croatia, Italy, Albania
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        id="ckbGroupC"
                        name="gr_C"
                        <%== 'checked' if session[:criteria][:groups][:C] %>>
                      <strong>Group C</strong><br>
                      Slovenia, Denmark, Serbia, England
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        id="ckbGroupD"
                        name="gr_D"
                        <%== 'checked' if session[:criteria][:groups][:D] %>>
                      <strong>Group D</strong><br>
                      Poland, Netherlands, Austria, France
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        id="ckbGroupE"
                        name="gr_E"
                        <%== 'checked' if session[:criteria][:groups][:E] %>>
                      <strong>Group E</strong><br>
                      Belgium, Slovakia, Romania, Ukraine
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        id="ckbGroupF"
                        name="gr_F"
                        <%== 'checked' if session[:criteria][:groups][:F] %>>
                      <strong>Group F</strong><br>
                      Turkey, Georgia, Portugal, Czech Republic
                    </label>
                  </div>
                </div><!-- /.panel-body -->
              </div><!-- /#collapseGroup.panel-collapse -->
            </div><!-- /.panel-default -->
          </div><!-- /#accordionGroup.panel-group -->

