  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a <%== 'class="collapsed" ' if @show %>role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="<%== if !@show then 'true' else 'false' end %>" aria-controls="collapseOne">
          Administer Users
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse<%== ' in' if !@show %>" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table>
          <thead>
            <th>Username</th>
            <th>Email</th>
            <th>Password?</th>
            <th>Roles</th>
            <th>Admin?</th>
            <th>Delete?</th>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%== user[:user_name] %></td>
                <td><%== user[:email] %></td>
                <td>
                  <form class="form-inline reset-pword" action="/users/reset_pword" method="post">
                    <input type="hidden" name="user_name" value="<%== user[:user_name] %>"/>
                    <button type="submit">Reset</button>
                  </form>
                </td>
                <td><%== user[:roles] %></td>
                <td>
                  <form class="form-inline toggle-admin" action="/users/toggle_admin" method="post">
                    <input type="hidden" name="user_id" value="<%== user[:user_id] %>"/>
                    <% if user[:roles]&.include?('Admin') %>
                      <input type="hidden" name="button" value="revoke_admin"/>
                      <button type="submit">Revoke</button>
                    <% else %>
                      <input type="hidden" name="button" value="grant_admin"/>
                      <button type="submit">Grant</button>
                    <% end %>
                  </form>
                </td>
                <td>
                  <form class="form-inline delete-user" method="post" action="/users/delete">
                    <input type="hidden" name="user_name" value="<%== user[:user_name] %>"/>
                    <input type="hidden" name="user_id" value="<%== user[:user_id] %>"/>
                    <button type="submit">CYA</button>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

